*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', sans-serif;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

/* the grid display is to push the footer to the bottom */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;   
}

h1 {
    background-color: hsl(180deg 40% 40%/60%);
    border-bottom: 5px solid hsl(180deg 40% 40%);
    color: hsl(0deg 100% 100%);
    text-align: center;
    font-size: 4rem;
    padding: 60px 0 70px 0;
}

.gameboard {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    gap: 2px;
}

/* we need to display the ::before and ::after elements */
.cell {
    position: relative;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

/* styles for the marks and the hover marks are the same */
.cell.x::before,
.cell.x::after,
.gameboard.x .cell:not(.x):not(.o):hover::before,
.gameboard.x .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: ''; /*this is required for ::before and ::after elements so they are rendered*/
    background-color: hsl(180deg 30% 45%);
    height: var(--mark-size);
    width: calc(var(--mark-size) * 0.15);
}

/* we need to rotate the ::before and ::after element separately (different angles) */
.cell.x::before,
.gameboard.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.gameboard.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.gameboard.o .cell:not(.x):not(.o):hover::before,
.gameboard.o .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 20px solid hsl(180deg 30% 45%);
    height: var(--mark-size);
    width: var(--mark-size);
}

.gameboard.o .cell:not(.x):not(.o):hover::before,
.gameboard.o .cell:not(.x):not(.o):hover::after {
    border-color: hsl(180deg 25% 70%);
}

.gameboard.x .cell:not(.x):not(.o):hover::before,
.gameboard.x .cell:not(.x):not(.o):hover::after {
    background-color: hsl(180deg 25% 70%);
}

.cell.x:hover,
.cell.o:hover {
    cursor: not-allowed;
}

button {
    cursor: pointer;
}   

.result-screen {
    background-color: hsl(0deg 0% 0% / 80%);
    color: hsl(0deg 100% 100%);
    font-size: 5rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-screen.active {
    display: flex;
}

.result-screen button {
    background-color:hsl(180deg 40% 40%);
    border: 5px dotted transparent;
    color: hsl(0deg 100% 100%);
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
}

.result-screen button:hover {
    background-color: hsl(0deg 100% 100%);
    color:hsl(180deg 40% 40%);
}

.result-screen button:active {
    border: 5px dotted hsl(330deg 50% 70%);
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

footer a {
    color: hsl(180deg 40% 30%);
    transition: color 400ms ease-in;
}

footer a:hover {
    color: hsl(330deg 50% 40%)
}

footer a:active {
    border: 3px dotted hsl(330deg 50% 70%);
}