@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

/* the grid display is to push the footer to the bottom */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;   
}

h1 {
    background-color: hsl(180deg 40% 40%/60%);
    color: hsl(0deg 100% 100%);
    font-size: 4rem;
    text-align: center;
    padding: 60px 0 70px 0;
}

.score-board {
    background-color: hsl(180deg 40% 40%);
    color: hsl(0deg 100% 100%);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.score-container {
    font-size: 3rem;
    position: absolute;
    margin: 0 10px;
}

.player-label {
    font-size: 2rem;
}

/* ----------------------GAMEBOARD----------------- */

.gameboard {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    gap: 2px;
}

/* we need to display the ::before and ::after elements */
.cell {
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles for the marks and the hover marks are the same */
.cell.x::before,
.cell.x::after,
.gameboard.x .cell:not(.x):not(.o):hover::before,
.gameboard.x .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: ''; /*this is required for ::before and ::after elements so they are rendered*/
    background-color: hsl(180deg 30% 45%);
    height: var(--mark-size);
    width: calc(var(--mark-size) * 0.15);
}

/* we need to rotate the ::before and ::after element separately (different angles) */
.cell.x::before,
.gameboard.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.gameboard.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.gameboard.o .cell:not(.x):not(.o):hover::before,
.gameboard.o .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 20px solid hsl(180deg 30% 45%);
    height: var(--mark-size);
    width: var(--mark-size);
}

.gameboard.o .cell:not(.x):not(.o):hover::before,
.gameboard.o .cell:not(.x):not(.o):hover::after {
    border-color: hsl(180deg 25% 70%);
}

.gameboard.x .cell:not(.x):not(.o):hover::before,
.gameboard.x .cell:not(.x):not(.o):hover::after {
    background-color: hsl(180deg 25% 70%);
}

.cell.x:hover,
.cell.o:hover {
    cursor: not-allowed;
}

/* ---------------------MODALS-------------------------- */

.overlay {
    background-color: hsl(0deg 0% 0% / 80%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}

.names-input-container form {
    padding: 25px;
}

.names-input-container div {
    padding: 15px;
    margin: 10px 0;
}

.names-input-container form, 
.names-input-container div {
    background-color: hsl(0deg 100% 100%);
    border-radius: 4px;
    color: hsl(180deg 40% 30%);
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background: hsl(180deg 30% 45%);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: hsl(180deg 25% 70%);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: hsl(180deg 25% 70%);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: hsl(180deg 25% 70%);
} 

.result-screen {
    background-color: hsl(0deg 0% 0% / 80%);
    color: hsl(0deg 100% 100%);
    font-size: 5rem;
    flex-direction: column;
}

.result-screen.active {
    display: flex;
}

/* --------------------BUTTONS---------------------- */

.names-input-container button,
.result-screen button {
    cursor: pointer;
    border: 5px dotted transparent;
    border-radius: 4px;
    color: hsl(0deg 100% 100%);
    padding: 5px 10px;
    outline: none;
    font-size: 2rem;
}  

.names-input-container button {
    background-color:hsl(330deg 40% 45%); 
    margin-top: 10px; 
    transition: 400ms ease-in;
}

.names-input-container button:hover {
    background-color:hsl(180deg 40% 30%);;
    transform: rotate(360deg);
}

.names-input-container button:active {
    border: 5px dotted hsl(330deg 50% 70%);
}

.result-screen button {
    background-color:hsl(180deg 40% 40%);
    margin-top: 20px;
    transition: 300ms ease-in;
}

.result-screen button:hover {
    background-color: hsl(0deg 100% 100%);
    color:hsl(180deg 40% 40%);
    transform: scale(1.1);
}

.result-screen button:active {
    border: 5px dotted hsl(330deg 50% 70%); 
}

/* -----------------------------FOOTER-------------------------------- */

footer {
    text-align: center;
    padding-bottom: 10px;
}

footer a {
    color: hsl(180deg 40% 30%);
    transition: color 400ms ease-in;
}

footer a:hover {
    color: hsl(330deg 50% 40%)
}

footer a:active {
    border: 3px dotted hsl(330deg 50% 70%);
}

@media (max-width: 800px) {
    .score-board {
        padding: 10px 0;
    }

    .score-container {
        position: static;
    }
}